
.sombra{
    box-shadow: 2px 2px 8px;
}

.img{

    height: 500px;
    object-fit: cover;
}
.tipo{
    font-family: 'Black Han Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap')